<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
   
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


</head>
<body>
    <br><br>
    <div>
        <h4 class ="welcome">
            Welcome to
        </h4>
        <h1 class ="SimpleMeds">
            SimpleMeds
        </h1>
    </div><br>

    <div class="row">
        <div class="column">
            <div class="card" id ="cardone">
                <img class="card-img-top" src="../../assets/images/med_img.png" >
                <h3 class="card-title" id="titleone">Item 1</h3>
                <p class="card-text" id="textone">Example Text for Meds</p>
            </div>
        </div>
  
        <div class="column">
            <div class="card" id ="cardtwo">
                <img class="card-img-top" src="../../assets/images/med_img.png" >
                <h3 class="card-title" id="titletwo">Item 2</h3>
                <p class="card-text" id="texttwo">Example Text for Meds</p>
            </div>
        </div>
    
        <div class="column">
            <div class="card" id ="cardthree">
                <img class="card-img-top" src="../../assets/images/med_img.png" >
                <h3 class="card-title" id="titlethree">Item 3</h3>
                <p class="card-text" id="textthree">Example Text for Meds</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="column">
            <div class="card" id ="cardfour">
                <img class="card-img-top" src="../../assets/images/med_img.png" >
                <h3 class="card-title" id="titlefour">Item 4</h3>
                <p class="card-text" id="textfour">Example Text for Meds</p>
            </div>
        </div>
  
        <div class="column">
            <div class="card" id ="cardfive">
                <img class="card-img-top" src="../../assets/images/med_img.png" >
                <h3 class="card-title" id="titlefive">Item 5</h3>
                <p class="card-text" id="textfive">Example Text for Meds</p>
            </div>
        </div>
    
        <div class="column">
            <div class="card" id ="cardsix">
                <img class="card-img-top" src="../../assets/images/med_img.png" >
                <h3 class="card-title" id="titlesix">Item 6</h3>
                <p class="card-text" id="textsix">Example Text for Meds</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="column">
            <div class="card" id ="cardseven">
                <img class="card-img-top" src="../../assets/images/med_img.png" >
                <h3 class="card-title" id="titleseven">Item 7</h3>
                <p class="card-text" id="textseven">Example Text for Meds</p>
            </div>
        </div>
  
        <div class="column">
            <div class="card" id ="cardeight">
                <img class="card-img-top" src="../../assets/images/med_img.png" >
                <h3 class="card-title" id="titleeight">Item 8</h3>
                <p class="card-text" id="texteight">Example Text for Meds</p>
            </div>
        </div>
    
        <div class="column">
            <div class="card" id ="cardnine">
                <img class="card-img-top" src="../../assets/images/med_img.png" >
                <h3 class="card-title" id="titlenine">Item 9</h3>
                <p class="card-text" id="textnine">Example Text for Meds</p>
            </div>
        </div>
    </div>
</body>
</html>